<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TruckYa.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
				<key>dateExpires</key>
				<string>25/11/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FlagPhoneNumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JSSAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF507802459A950B00D4B93B53D7BAF2B0574ED9</string>
						<key>dateExpires</key>
						<string>25/11/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WP24DSS92</string>
						<key>name</key>
						<string>SUR ENTERTAINMENT GROUP INC.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2WP24DSS92.com.seg.trucya</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2WP24DSS92</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TruckYa.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75904d82-0c57-4028-9466-5cf44265350f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.seg.trucya</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2WP24DSS92</string>
				<key>name</key>
				<string>SUR ENTERTAINMENT GROUP INC.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
